@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.homePageBody {
    width: 100%;
    margin: auto;
    line-height: 1.5;
    background-color: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
}

header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 999;
}

header img {
    margin: 0;
    height: 3rem;
    font-weight: 300;
}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

nav a {
    font-family: inter;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: aliceblue;
}

.btn-request {
    background-color: #04FF15;
    color: black;
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    transition: background-color 0.2s ease;
    cursor: pointer;
    border: 1px solid #04FF15;
}

.btn-request:hover {
    border: 1px solid #04FF15;
    background-color: black;
    color: #04FF15;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5rem;
    justify-content: space-between;
    max-height: 80vh;
}

.content {
    max-height: fit-content;
    max-width: 40rem;
    margin-right: 10%;
    z-index: 999;
}

.content h1 {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 5px rgb(4, 255, 21, 0.418);
    color: #04FF15;
}

.description {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    max-width: 35rem;
    color: white;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn-send-request {
    text-decoration: none;
    background-color: black;
    color: #04FF15;
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    transition: background-color 0.2s ease;
    cursor: pointer;
    border: 1px solid #04FF15;
}

.btn-send-request:hover {
    border: 1px solid #04FF15;
    background-color: #04FF15;
    color: black;
}

.content-3d {
    flex: 1;
    position: relative;
    height: 100vh;
    max-width: 40rem;
    overflow: hidden;
}

.iphone-3d {
    position: absolute;
    width: 100%;
    height: 100%;
}