@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

.homePageBody {
    width: 100%;
    margin: auto;
    line-height: 1.5;
    background-color: black;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.container {
    width: 100%;
    margin: auto;
    position: relative;
}

header {
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1vw 10vw;
    z-index: 999;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

header img {
    margin: 0;
    height: 3rem;
    font-weight: 300;
}

nav {
    display: flex;
    align-items: center;
    gap: 3vw;
}

nav a {
    font-size: 1vw;
    letter-spacing: 0.05vw;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: aliceblue;
}

.btn-request {
    background-color: #04FF15;
    color: black;
    padding: 0.7vw 1.4vw;
    border-radius: 25px;
    border: none;
    font-size: 0.95vw;
    transition: background-color 0.2s ease;
    cursor: pointer;
    border: 1px solid #04FF15;
}

.btn-request:hover {
    border: 1px solid #04FF15;
    background-color: black;
    color: #04FF15;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
    max-height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    /* border: 1px solid red; */
}

.content-3d {
    flex: 1;
    position: relative;
    height: calc(var(--vh, 1vh) * 89);
    /* border: 1px solid red; */
}

.light {
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    border-radius: 50%;
    background: radial-gradient(circle, #ffffff77 0%, rgba(4, 255, 21, 0) 60%);
}

.iphone-3d {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.remove-logo {
    width: 14vw;
    height: calc(var(--vh, 1vh) * 10);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 900;
    background-color: #000;
    /* border: 1px solid red; */
}

.content {
    flex: 1;
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1 {
    width: 100%;
    font-size: 3.5vw;
    font-weight: 600;
    letter-spacing: 0.025em;
    padding-right: 10%;
    line-height: 1.2;
    text-shadow: 0 0 5px rgb(4, 255, 21, 0.418);
    color: #04FF15;
    /* border: 1px solid red; */
}

.description {
    width: 100%;
    font-size: 1.2vw;
    letter-spacing: 0.05em;
    color: white;
    /* border: 1px solid red; */
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn-send-request {
    text-decoration: none;
    background-color: black;
    color: #04FF15;
    padding: 0.6vw 1.4vw;
    border-radius: 25px;
    border: none;
    font-size: 0.95vw;
    transition: background-color 0.2s ease;
    cursor: pointer;
    border: 1px solid #04FF15;
}

.btn-send-request:hover {
    border: 1px solid #04FF15;
    background-color: #04FF15;
    color: black;
}

.form-container {
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.request-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #04FF15;
    border-radius: 25px;
    text-align: center;
    padding: 25px 0;
    gap: 15px;
    width: 30%;
    aspect-ratio: 1 / 1;
}

.request-card h2 {
    font-size: 1.8vw;
    text-align: center;
    color: #000;
}

.request-card input {
    width: 65%;
    padding: 15px;
    margin-bottom: 10px;
    height: 8.5vh;
    font-size: 0.95vw;
    border-radius: 1rem;
    background-color: transparent;
    border: 0.5px solid #000;
    color: #000;
}

.request-card input::placeholder {
    color: #000;
}

.request-card input:focus {
    outline: 1px solid #ffffffc5;
    outline-offset: 2px;
}

#btn-send-request {
    background-color: #fff;
    font-size: 0.95vw;
    border: none;
    box-shadow: 0px 10px 17px -6px rgba(0, 0, 0, 0.3);
}

#btn-send-request:hover {
    cursor: pointer;
    background-color: #fffffff3;
    box-shadow: 0px 10px 17px -6px rgba(0, 0, 0, 0.5);
}

.services.sm {
    display: none;
}

.services.lg {
    width: 100%;
    margin: auto;
    height: fit-content;
    /* border: 1px solid red; */
}

.services.lg h1 {
    margin-top: 10vh;
    text-align: center;
    color: #04FF15;
    font-size: 2.2vw;
}

.services.lg .roadmap {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 1vw;
    /* border: 1px solid red; */
}

.left-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.center-img {
    height: auto;
    width: fit-content;
    /* border: 1px solid red; */
}

.center-img img {
    margin: auto;
    height: auto;
    width: 30vw;
}

.services.lg .card-container {
    width: 100%;
    height: auto;
    display: flex;
    overflow: visible;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid red; */
}

.services.lg .card-container.left {
    justify-content: end;
}

.services.lg .card-container.right {
    justify-content: start;
}

.services.lg .service-card {
    display: flex;
    flex-direction: column;
    font-size: 1.1vw;
    align-items: center;
    width: 25vw;
    background: #d9d9d9;
    color: #fff;
    align-items: center;
    padding: 1.5vw;
    margin: 4vw 0;
    border-radius: 25px;
    background: rgba(217, 217, 217, 0.15);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(217, 217, 217, 0.15);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
}

.services.lg .service-card h2 {
    color: #00C80D;
    font-size: 1.7vw;
    text-shadow: 0 0 5px rgba(4, 255, 21, 0.212);
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 10vw;
    background-color: #222;
}

.footer-logo {
    width: 10vw;
    height: auto;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.social img {
    width: auto;
    height: 2vw;
    cursor: pointer;
}

@media (max-width: 1300px) {
    header {
        padding: 1vw 5vw;
    }

    nav a {
        font-size: 2.1vw;
    }

    .btn-request {
        padding: 1.7vw 3vw;
        font-size: 2.2vw;
        border-radius: 45px;
    }

    .cover {
        flex-direction: column;
        align-items: center;
        margin: auto;
        justify-content: space-between;
        min-height: calc(var(--vh, 1vh) * 89);
        width: 100%;
        overflow-x: hidden;
    }

    .content-3d {
        min-height: calc(var(--vh, 1vh) * 44.5);
        width: 100%;
    }

    .light {
        width: 40vw;
        height: 40vw;
    }

    .iphone-3d {
        top: -20%;
        height: 150%;
        width: 150%;
        left: 50%;
        transform: translateX(-50%);
    }

    .remove-logo {
        display: none;
    }

    .content {
        max-height: calc(var(--vh, 1vh) * 44.5);
        z-index: 2;
        margin: 0 10vw;
        /* border: 1px solid red; */
    }

    .content h1 {
        font-size: 6.5vw;
        line-height: 1.2;
        text-shadow: 0 0 5px rgb(4, 255, 21, 0.418);
        color: #04FF15;
        /* border: 1px solid red; */
    }

    .description {
        font-size: 3vw;
        /* border: 1px solid red; */
    }

    .btn-send-request {
        padding: 2vw 3.5vw;
        font-size: 2.5vw;
        border-radius: 45px;
    }

    .request-card {
        padding: 5px 15px;
        gap: 15px;
        width: 60%;
        aspect-ratio: 1 / 1;
    }

    .request-card h2 {
        font-size: 5vw;
        text-align: center;
        color: #000;
    }

    .request-card input {
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
        height: 8.5vh;
        font-size: 3vw;
        border-radius: 1rem;
        background-color: transparent;
        border: 0.5px solid #000;
        color: #000;
    }

    #btn-send-request {
        font-size: 3.5vw;
    }
}

@media (max-width: 756px) {
    header {
        padding: 1vw 5vw;
    }

    header img {
        height: 2.5rem;
        font-weight: 300;
    }

    nav a {
        display: none;
    }

    .btn-request {
        padding: 2.5vw 4vw;
        font-size: 3.5vw;
        border-radius: 45px;
    }

    .cover {
        flex-direction: column;
        align-items: center;
        margin: auto;
        justify-content: space-between;
        min-height: calc(var(--vh, 1vh) * 89);
        width: 100%;
        overflow-x: hidden;
    }

    .content-3d {
        min-height: calc(var(--vh, 1vh) * 49);
        width: 100%;
    }

    .light {
        width: 80vw;
        height: 80vw;
    }

    .iphone-3d {
        top: -20%;
        height: 140%;
        width: 150%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
    }

    .remove-logo {
        display: none;
    }

    .content {
        max-height: calc(var(--vh, 1vh) * 40);
        width: 100%;
        z-index: 2;
        padding: 0 5vw;
        background-color: #000;
        /* border: 1px solid red; */
    }

    .content h1 {
        font-size: 8.6vw;
        line-height: 1.2;
        text-shadow: 0 0 5px rgb(4, 255, 21, 0.418);
        color: #04FF15;
        /* border: 1px solid red; */
    }

    .description {
        font-size: 3.8vw;
        /* border: 1px solid red; */
    }

    .btn-send-request {
        padding: 2.5vw 4vw;
        font-size: 3.8vw;
        border-radius: 45px;
    }

    .services.lg {
        display: none;
    }

    input[type=radio] {
        display: none;
    }

    .services.sm {
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .services.sm h1 {
        margin-top: 10vh;
        text-align: center;
        color: #04FF15;
        font-size: 5vw;
    }

    .services.sm .cards {
        position: relative;
        width: 100%;
        height: 80%;
        margin: auto;
    }

    .services.sm .service-card {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 65%;
        height: fit-content;
        transition: transform 0.4s ease;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-size: 3vw;
        align-items: center;
        justify-content: center;
        background: #d9d9d9;
        color: #fff;
        padding: 5vw;
        border-radius: 25px;
        background: rgb(34, 34, 34);
        border-radius: 25px;
        box-shadow: 0 4px 30px rgba(217, 217, 217, 0.15);
        backdrop-filter: blur(6.7px);
        -webkit-backdrop-filter: blur(6.7px);
    }

    .services.sm .service-card h2 {
        font-size: 4vw;
        color: #04FF15;
    }

    #item-1:checked~.cards #song-3,
    #item-2:checked~.cards #song-1,
    #item-3:checked~.cards #song-2 {
        transform: translateY(-40%) scale(0.8);
        opacity: 0.25;
        z-index: 0;
    }

    #item-1:checked~.cards #song-2,
    #item-2:checked~.cards #song-3,
    #item-3:checked~.cards #song-1 {
        transform: translateY(40%) scale(0.8);
        opacity: 0.25;
        z-index: 0;
    }

    #item-1:checked~.cards #song-1,
    #item-2:checked~.cards #song-2,
    #item-3:checked~.cards #song-3 {
        transform: translateY(0) scale(1);
        opacity: 1;
        z-index: 1;
    }

    #item-1:checked~.cards #song-1 img,
    #item-2:checked~.cards #song-2 img,
    #item-3:checked~.cards #song-3 img {
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }

    .request-card {
        padding: 5px 15px;
        gap: 15px;
        width: 90%;
        aspect-ratio: 1 / 1;
    }

    .request-card h2 {
        font-size: 5vw;
        text-align: center;
        color: #000;
    }

    .request-card input {
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
        height: 8.5vh;
        font-size: 3vw;
        border-radius: 1rem;
        background-color: transparent;
        border: 0.5px solid #000;
        color: #000;
    }

    #btn-send-request {
        font-size: 3.5vw;
    }

    .footer-container {
        /* border-radius: 25px 25px 0 0; */
        background-color: #222;
        height: calc(var(--vh, 1vh) * 20);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 6vw 10vw;
    }

    .footer-logo {
        width: 35vw;
        height: auto;
    }

    .social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 5vw;
    }

    .social img {
        width: auto;
        height: 3.5vh;
        cursor: pointer;
    }
}